<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.janinacosta.ami">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">

        <activity android:name=".ActividadLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActividad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActividadRegistrar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarma"></activity>

        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".ActividadCrearAlarma">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>

        <activity
            android:name=".NuevoMedicamentoActivity"
            android:label="@string/title_activity_Mis_Medicamentos">

        </activity>

        <activity
            android:name=".MisMedicamentosActivity"
            android:label="@string/title_activity_Mis_Medicamentos" >
        </activity>



    </application>

</manifest>